<img id="logo" src="/logo-light.png" alt="Out Lock">
<h2><a href="https://en.wikipedia.org/wiki/Lock_(computer_science)">Synchronization locks</a> as a service</h2>
<a id="source-link" href="https://github.com/g-re-g/outlock">Source</a>

<section>
  <h2>API</h2>
  <h3>How To Use</h3>
  <ul>
    <li>Available API calls are listed below.</li>
    <li>Available request methods are listed before the path.</li>
    <li>API call success / failure is indicated with HTTP status codes.</li>
    <li>Information you provide in the path goes in curly brackets <code>{}</code>.
    <li>By default all routes will return html.</li>
    <li>If you want JSON use an <code>accept: application/json</code> header.
  </ul>

  <h3>Why would I use?</h3>
  <ul>
    <li>Maybe you want someone else to manage your syncronization primitives?</li>
    <li>Maybe you want make mutexes that have to make a network call to work?</li>
    <li>Maybe you have some distributed services that need to share a resource?</li>
  </ul>

  <h3>Available API Calls</h3>

  <div class="api">
    <div class="api-name"><strong>get</strong> /status/{lock-id}</div>
    <div class="api-description">
    Returns whether <code>{lock-id}</code> is currently locked or not.
    </div>
  </div>

  <div class="api">
    <div class="api-name"><strong>get</strong> or <strong>post</strong> /lock/{lock-id}</div>
    <div class="api-description">
    If <code>{lock-id}</code> is currently unlocked, lock it and return with a <code>200 OK</code> status code.
    <br><br>
    If <code>{lock-id}</code> is currently locked, return with a <code>403 Forbidden</code> status code.
    </div>
  </div>

  <div class="api">
    <div class="api-name"><strong>get</strong> or <strong>post</strong> /unlock/{lock-id}</div>
    <div class="api-description">
    If <code>{lock-id}</code> is not locked with a key, unlock it and return with a <code>200 OK</code> status code.
    <br><br>
    If <code>{lock-id}</code> is currently locked with a key, return with a <code>403 Forbidden</code> status code.
    </div>
  </div>

</section>

<footer>🌴</footer>
